<p class="h3">All Posts</p>

{{#each posts}}
    <div class="card text-center my-3">
        <div class="card-header">
            {{this.user.first_name}} {{this.user.last_name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.body}}</p>
            <a href="/comments/{{this.id}}" class="btn btn-primary comment-link" data-postId="{{this.id}}">View Comments</a>
        </div>
        <div class="card-footer text-muted">
            {{formatDate this.post_date}}
        </div>
    </div>
{{/each}}